@page "/"
<h3>Welcome to the Library Management System</h3>

<p><a class="btn btn-primary" href="/managebooks">Manage Books</a></p>
<p><a class="btn btn-primary" href="/manageusers">Manage Users</a></p>
<p><a class="btn btn-primary" href="/borrowbook">Borrow a Book</a></p>
<p><a class="btn btn-primary" href="/returnbook">Return a Book</a></p>